@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    display: flex;
    background-color: #417C12;
    justify-content: space-between;
}

.hero {
    text-align: center;
    position: absolute;
    width: 45%;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.img_hero {
    width: 100%;
}
.image-header-1 {
    width : 100%;
    height : 100%;
    max-width : 100px;
    max-height : 100px;
}

.image-header-2 {
    width : 100%;
    height : 100%;
    max-width : 450px;
    max-height : 450px;
}
.div_footer {
    height: 300px;
    width: 100%;
}

.footer {
    display: flex;
    background-color: #417C12;
    height: 200px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo-ac {
    width: 160px;
    height: 160px;
}

.text_footer {
    color: white;
    background-color: aqua;
    font-size: 40px;
    align-content: center;
    width: auto;
}

.text_footer_2 {
    color: white;
    align-self: flex-end;
}